## **Importe das bibliotecas**

In [3]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
import seaborn as sns

## ** Importe dos dados**

In [4]:
data_train = pd.read_csv('train_house_prices.csv')

In [5]:
data_test = pd.read_csv('test_house_prices.csv')

- Para treino e teste:
    - Primeiro, transformar os atributos numéricos com alto desvio: log (valor do atributo + 1) - isso tornará a distribuição dos valores mais perto da distribuição normal
    - Criar variáveis Dummy para os atributos categóricos
    - Substitua os valores numéricos faltantes (NaN's) pela média de suas respectivas colunas

In [6]:
y= pd.DataFrame(data_train['SalePrice'])
data_train = pd.DataFrame(data_train.drop('SalePrice', axis=1)) #axis=1 estamos removendo a coluna e não linha

all_data = pd.concat([data_train,data_test])
all_data.shape

(2919, 80)

In [7]:
all_data.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
count,2919.000000,2919.000000,2433.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2896.000000,2918.000000,...,2918.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000
mean,1460.000000,57.137718,69.305795,10168.114080,6.089072,5.564577,1971.312778,1984.264474,102.201312,441.423235,...,472.874572,93.709832,47.486811,23.098321,2.602261,16.062350,2.251799,50.825968,6.213087,2007.792737
std,842.787043,42.517628,23.344905,7886.996359,1.409947,1.113131,30.291442,20.894344,179.334253,455.610826,...,215.394815,126.526589,67.575493,64.244246,25.188169,56.184365,35.663946,567.402211,2.714762,1.314964
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000
25%,730.500000,20.000000,59.000000,7478.000000,5.000000,5.000000,1953.500000,1965.000000,0.000000,0.000000,...,320.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2007.000000
50%,1460.000000,50.000000,68.000000,9453.000000,6.000000,5.000000,1973.000000,1993.000000,0.000000,368.500000,...,480.000000,0.000000,26.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000
75%,2189.500000,70.000000,80.000000,11570.000000,7.000000,6.000000,2001.000000,2004.000000,164.000000,733.000000,...,576.000000,168.000000,70.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000
max,2919.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,1488.000000,1424.000000,742.000000,1012.000000,508.000000,576.000000,800.000000,17000.000000,12.000000,2010.000000

In [8]:
all_data = pd.get_dummies(all_data)

In [9]:
#filling NA's with the mean of the column:
all_data = all_data.fillna(all_data.mean())

In [10]:
all_data.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
count,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,...,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000
mean,1460.000000,57.137718,69.305795,10168.114080,6.089072,5.564577,1971.312778,1984.264474,102.201312,441.423235,...,0.002741,0.081877,0.002398,0.865022,0.065091,0.004111,0.008222,0.015759,0.822885,0.083933
std,842.787043,42.517628,21.312345,7886.996359,1.409947,1.113131,30.291442,20.894344,178.626089,455.532750,...,0.052289,0.274225,0.048920,0.341758,0.246728,0.063996,0.090317,0.124562,0.381832,0.277335
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,730.500000,20.000000,60.000000,7478.000000,5.000000,5.000000,1953.500000,1965.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,1460.000000,50.000000,69.305795,9453.000000,6.000000,5.000000,1973.000000,1993.000000,0.000000,369.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,2189.500000,70.000000,78.000000,11570.000000,7.000000,6.000000,2001.000000,2004.000000,163.500000,733.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
max,2919.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [11]:
#creating matrices for sklearn:
X_train = all_data[:data_train.shape[0]] #devolve as linhas de train
X_test = all_data[data_train.shape[0]:] #devolve as linhas de teste

### Caso queira realizar a submissão na ferramenta Kaggle: utilizar X_test -- Voltaremos em breve...

# Uso do Gradient Boosting Regression para criação do modelo

In [12]:
from sklearn import ensemble
from sklearn import datasets
from sklearn.utils import shuffle
from sklearn.metrics import mean_squared_error

In [13]:
# 70% dos dados de treino para construir o modelo
offset = int(X_train.shape[0] * 0.9)
X_realdata_train = X_train[:offset] 
y_realdata_train = y[:offset]

# 30% dos dados do treino para realizar um comparativo entre o valor real e o predito pelo modelo
X_realdata_test = X_train[offset:]
y_realdata_test = y[offset:]

print(X_realdata_train.shape, y_realdata_train.shape, X_realdata_test.shape, y_realdata_test.shape)

((1314, 289), (1314, 1), (146, 289), (146, 1))

- Treinando o modelo com os 70% dos dados de treino

In [14]:
# Fit regression model
params = {'n_estimators': 500, 'max_depth': 4, 'min_samples_split': 2,
          'learning_rate': 0.01, 'loss': 'ls'}
clf = ensemble.GradientBoostingRegressor(**params)

clf.fit(X_realdata_train, y_realdata_train)

# Renomeando a coluna de Y que foi predita pelo modelo
y_pred = pd.DataFrame(clf.predict(X_realdata_test))
y_pred.columns = ['SalePrice']
y_pred.shape

/Users/ticianacoelhodasilva/miniconda2/lib/python2.7/site-packages/sklearn/utils/validation.py:526: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

(146, 1)

In [16]:
mse = mean_squared_error(y_realdata_test, y_pred)
print("MSE: %.4f" % mse)

MSE: 616426731.2423

In [17]:
# Plot feature importance
feature_importance = clf.feature_importances_
sorted_idx = np.argsort(feature_importance)[::-1]
print("Feature ranking:")

feature_names = X_train.columns
for f in range(X_train.shape[1]):
    if(feature_importance[sorted_idx[f]] > 0.03): 
        print("%d. feature %s (%f)" % (f + 1, X_train.columns[sorted_idx[f]], feature_importance[sorted_idx[f]]))


#f, ax = plt.subplots(figsize=(11, 9))
#plt.title("Feature ranking", fontsize = 20)
#plt.bar(range(X_train.shape[1]), feature_importance[sorted_idx],  color="b", align="center")
#plt.xticks(range(X_train.shape[1]), sorted_idx)
#plt.xlim([-1, X_train.shape[1]])
#plt.ylabel("importance", fontsize = 18)
#plt.xlabel("index of the feature", fontsize = 18)
    

#feature_names = X_train.columns # e.g. ['A', 'B', 'C', 'D', 'E']
#plt.yticks(pos, feature_names)
#plt.xlabel('Relative Importance')
#plt.title('Variable Importance')

#plt.show()

Feature ranking:
1. feature OverallQual (0.166409)
2. feature GrLivArea (0.136620)
3. feature LotArea (0.058427)
4. feature BsmtFinSF1 (0.054267)
5. feature TotalBsmtSF (0.049640)
6. feature YearRemodAdd (0.036004)
7. feature YearBuilt (0.031677)

### Comparativo entre os valores de Y real e os preditos pelo modelo

## Se desejar fazer a submissão deste modelo no kaggle

In [18]:
prediction = pd.DataFrame(clf.predict(X_test))
submission = pd.DataFrame()
submission['Id']= data_test.Id
submission['SalePrice'] = prediction
submission.to_csv("kaggle_house_price_gb.csv", index=False)